language: go

go:
  - "1.14.x"
  - "1.15.x"
  - master

matrix:
  allow_failures:
    - go: master

services:
  - docker

env:
  global:
    - GO111MODULE=on
    - GOLANGCI_LINT_VERSION=v1.31.0

cache:
  directories:
    - $GOPATH/pkg
    - $GOCACHE

before_install:
  # Update docker to latest version: https://docs.travis-ci.com/user/docker/#installing-a-newer-docker-version
  - curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
  - sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
  - sudo apt-get update
  - sudo apt-get -y -o Dpkg::Options::="--force-confnew" install docker-ce
  # Install golangci-lint
  - curl -sfL https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | bash -s -- -b $GOPATH/bin $GOLANGCI_LINT_VERSION

before_script:
  - golangci-lint run

script:
  - go test -v -race -coverprofile=coverage.txt -covermode=atomic ./...

after_success:
  - bash <(curl -s https://codecov.io/bash) -X fix
