language: go
sudo: false

go:
  - "1.11.x"
  - master

matrix:
  allow_failures:
    - go: master

services:
  - docker

env:
  global:
    - GO111MODULE=on
    - GOLANGCI_LINT_VERSION=v1.12.5

cache:
  directories:
    - $GOPATH/pkg
    - $GOCACHE

before_install:
  - docker --version
  - curl -sfL https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | bash -s -- -b $GOPATH/bin $GOLANGCI_LINT_VERSION

before_script:
  - golangci-lint run

script:
  - go test -v -race -coverprofile=coverage.txt -covermode=atomic ./...

after_success:
  - bash <(curl -s https://codecov.io/bash) -X fix
